
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  background-color: #915151;
}

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.registerPage{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;

}
.registerPage .contanier{
  margin-top:  5vh;
  display: flex;
  height: 90%;
  width: 60%;
 
  border-radius: 15px;

}


.contanier {
  margin-top:25vh;
  display: flex;
  height: 80%;
  width: 60%;
  border: 4px solid #2e2c2c;
  border-radius: 15px;
}

.videoDiv {
  width: 50%; 
  position: relative;
  border-radius: 10px;
  
}

.videoDiv video {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 10px 0 0 10px ;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)); 

}

.videoDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)); 
}





.headerDiv h3 {
  font-size: 2vh;
}



.textDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 6vh;
  font-weight: 20vh;
}


.fromDiv {

  width: 50%; 
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem; 
  margin-bottom: 10px;
}

.footerDiv {
  display: flex;
  margin-top: 25px;
  text-align: center;
  align-items: center;
}

.footerDiv .text {
  margin-left:40vh; 
  font-size: 22px;
  color: #060202;
  display: flex;
  align-items: center;

}


.btn {
  background-color: #000000;
  color: #f3f3f9;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Align horizontally center */
  align-items: center; /* Align vertically center */
  margin-left: 40%;
text-decoration: none;
}

.btn:hover {
  border: 2px solid #060000; 
}


.btn span {
  margin-right: 5px;
}


.headerDiv {
  overflow: hidden;
  text-align: center;
}

.headerDiv img {
  width: 80px; 
  height: 80px; 
  margin-bottom: 10px;
}

.headerDiv h3 {
  font-size: 1.2rem; /* Adjusted font size */
}

.form {
  margin-top: 20px;
}

.showMessage {
  margin-bottom: 10px;
  color: #333;
}

.inputDiv {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

.input {
  position: relative;
  text-align: center;

}


.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
.forgotPasswordPage {
  text-align: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column; 
}

.forgotPasswordForm {
  background-color: #d4deee;
  padding: 40px;
  border: 4px solid #2e2c2c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%; 
  height: 50%;
}

.forgotPassword a {
  color: #c4d6ea;
  text-decoration: none;
  margin-top: 8px; /* Adjust the margin as needed */
}

@media (max-width: 768px) {
  .forgotPasswordForm {
    width: 80%; 
  }
}

.span{
  padding: 20px;
}
.fromDiv h1{
font-size: 5vh;
padding: 17px;
font-style: bolt;
text-decoration: underline;
}
.loginPage .fromDiv h1{
  padding: 30px;
}

@media (max-width: 768px) {
  .contanier {
    flex-direction: column;
  }

  .videoDiv,
  .fromDiv {
    width: 80%; 
  }
}
.resetPasswordPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}

.resetPasswordFormContainer {
  text-align: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  height: 60%;
}

.resetPasswordForm {
  background-color: #d4deee;
  padding: 50px;
  border: 4px solid #2e2c2c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200%; 
  height: 500%;/* Adjust as needed */
}

.resetPasswordForm label {
  margin-bottom: 30px; 
  
}

.resetPasswordForm input {
  margin-bottom: 40px; /* Adjust as needed */
}

.resetPasswordForm .error {
  color: #ff0000;
  margin-top: 8px; /* Adjust as needed */
}

.resetPasswordForm .btn {
  margin-top: 20px; /* Adjust margin as needed */
}

@media (max-width: 768px) {
  .resetPasswordForm {
    width: 80%; 
  }
}
