@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* global.css */
body{
  background-image: url(images/bgforsub2.jpg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
