.Info {
  
    justify-content: space-between;
    max-width: 1500px;
    margin-top: 8rem;
    padding-left: 25px;
    padding-right: 30%;
    box-sizing: border-box;
}

.commentBox {
    text-align: left;
    margin-top: 20px;
}

.commentBox h2 {
    margin-bottom: 10px;
}

.commentBox form {
    margin-bottom: 15px;
}

.commentBox textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust as needed */
}

.commentBox button {
    padding: 10px;
    cursor: pointer;
}

.commentBox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.commentBox li {
    margin-bottom: 10px;
}

.flex-div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 30%; 
}
