.page-container {
    display: flex;
  }
  
  .top-heading {
    width: 30%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .content-container {
    text-align: center;
    justify-content: center;
    margin-top: 8rem;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .content-container p{
    font-size: 1.5rem;

  }
  
  .Info {
    max-width: 100%; 
    margin-top: 0; 
  }

  .Info img{
    border-radius: 20px;
    
  }
  
  .commentBox {
    text-align: left;
    margin-top: 20px;
  }
  
  .commentBox h2 {
    margin-bottom: 10px;
  }
  
  .commentBox form {
    margin-bottom: 15px;
  }
  
  .commentBox textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .commentBox button {
    padding: 10px;
    cursor: pointer;
  }
  
  .commentBox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .commentBox li {
    margin-bottom: 10px;
  }
  .commentBox {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .comments-list {
    list-style: none;
    padding: 0;
  }
  
  .comment-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden; /* Ensure proper rendering of floated elements */
  }
  
  .comment-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .comment-body {
    padding: 15px;
    word-wrap: break-word;
  }
  
  .comment-form {
    margin-top: 20px;
  }
  
  .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .comment-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .comment-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .loading-message {
    margin-top: 10px;
    color: #007bff;
  }
  